* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

/* study */
.study {
	font-size: 1.6rem;
	background: url(../img/bg.png) top center / cover no-repeat;
	padding-bottom: 20px;
}

/* header */
.header {
	padding-top: 20px;
	text-align: right;
	height: 70px;
	background-color: rgba(92, 238, 77, 0.9);
	position: fixed;
	right: 0;
	top: 0;
	left: 0;
	z-index: 1;
	box-shadow: 0 0 5px rgb(3 3 3 / 50%);
}

/* search */
.search_cover {
	position: relative;
	display: inline-flex;
	border-radius: 20px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0 0 10px rgb(3 3 3 / 50%);
	cursor: pointer;
}

.search_input {
	border: none;
	padding: 10px 40px 10px 16px;
	border-radius: 20px;
	outline: none;
}

.search a {
	text-decoration: none;
	color: #000;
	padding: 8px 4px;
}

.search i {
	padding: 8px 16px;
}

/* search hint */
.search_list {
	position: absolute;
	width: 235px;
	max-height: 500px;
	background: #fff;
	top: 100%;
	right: 10%;
	margin-top: 2px;
	display: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.search_list ul {
	text-align: left;
}
.search_list ul li {
	list-style: none;
	padding: 16px;
	font-size: 1.8rem;
}

.search_list ul li:hover {
	background-color: #ccc;
}

/* menu */
.menu {
	display: inline-block;
	margin-left: 14%;
}

.menu li {
	position: relative;
	display: inline-block;
	list-style: none;
}

.menu li a.menu_top,
.menu li i {
	font-size: 2rem;
	color: #000;
	text-decoration: none;
	padding: 0 24px;
	cursor: pointer;
}

.menu li a.menu_top::after,
.menu li i::after {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	bottom: -2px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000;
	transition: width 0.75s ease-in;
}

.menu li a.menu_top:hover::after,
.menu li i:hover::after {
	width: 65%;
}

/* notice */
.notice {
	position: absolute;
	top: 100%;
	right: -20px;
	min-width: 230px;
	min-height: 180px;
	background-color: #fff;
	box-shadow: 0 0 5px #000;
	margin-top: 12px;
	margin-right: 20px;
	display: none;
}

.notice::before {
	content: "";
	position: absolute;
	top: -11.5px;
	right: 23px;
	width: 20px;
	height: 20px;
	transform: rotate(45deg);
	background-color: #fff;
	border-left: 1px solid rgba(0, 0, 0, 0.5);
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.notice ul {
	text-align: left;
}

.notice ul li {
	list-style: none;
	padding: 12px 0;
	width: 100%;
	margin: 0 auto;
	display: block;
	padding: 12px;
}

.notice ul li a {
	font-size: 2rem;
	text-decoration: none;
	color: #000;
}

.notice ul li:hover {
	cursor: pointer;
	background-color: #bbb;
}

.notice span {
	font-size: 1.8rem;
}

.show_notice {
	display: block;
}

/* icon */
.icon {
	width: 10rem;
	/* margin-left: 4%; */
	position: relative;
	top: 28px;
	left: 32px;
	z-index: 1;
}
/* study-content */
.study-content {
	display: flex;
	justify-content: center;
	align-items: center;
}
.study-content-text {
	margin-bottom: 50px;
	text-align: center;
}
.study-content-text .text-title {
	font-size: 3rem;
	opacity: 0;
	animation: fadeIn 2s linear forwards;
}
.study-content-text .desc {
	font-size: 2rem;
	opacity: 0;
	margin: 36px 0;
	animation: fadeIn 2s linear 0.75s forwards;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.study-content-btn {
	background-color: #fff;
	display: inline-block;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 0 10px rgb(3 3 3 / 30%);
	cursor: pointer;
	transition: all 0.5s linear;
	opacity: 0;
	animation: fadeIn 2s linear 1.5s forwards;
}

.study-content-btn a {
	text-decoration: none;
	color: #000;
	font-size: 2rem;
	padding-left: 40px;
	line-height: 40px;
}

.study-content-btn i {
	padding: 0 40px 0 5px;
	font-size: 1.3rem;
}

.study-content-btn:hover {
	transform: scale(1.3);
	box-shadow: 0 0 10px rgb(3 3 3 / 80%);
}

/* study img */
.study-img {
	text-align: right;
}
.study-img img {
	width: 35%;
}

/* about */
.about {
	background-color: #5cee4d;
}

.about-content {
	text-align: center;
	width: 600px;
	margin: 100px auto;
	padding: 70px 0;
}

.about-title {
	font-size: 3rem;
	font-weight: 500;
}
.about-desc {
	text-align: justify;
	font-size: 2rem;
	margin-top: 32px;
}

/* member */
.member {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
}

.members-list {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.member h3 {
	font-size: 3rem;
	font-weight: 500;
	margin-bottom: 50px;
}

.member-card {
	background: transparent;
	width: 300px;
	height: 350px;
	perspective: 1000px;
}

.member-card .card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
}

.front,
.back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.front {
	background-color: #bbb;
	color: black;
	box-shadow: 0 0 10px rgb(3 3 3 / 50%);
}

.back {
	background-color: #fff;
	color: #000;
	transform: rotateY(180deg);
}

.back img {
	width: 20%;
	border-radius: 50%;
	margin-top: 10%;
}

.back ul {
	margin-top: 40px;
	padding: 16px;
}

.back ul li {
	list-style: none;
	font-size: 1.8rem;
	text-align: justify;
}

.member-card:hover .card-inner {
	transform: rotateY(180deg);
	cursor: pointer;
	box-shadow: 0 0 10px rgba(3, 3, 3, 0.7);
}

/* footer */
.footer {
	background: url(../img/bg.png) top center/ cover no-repeat;
	box-shadow: 0 0 10px rgb(3 3 3 / 0.05);
}

.footer-title {
	font-size: 2.4rem;
	text-align: center;
}

.footer-desc {
	display: flex;
	justify-content: space-evenly;
	padding: 32px 0;
}

.footer ul {
}

.footer ul li {
	font-size: 1.8rem;
	list-style: none;
}

/* side-bar */
.cover_sidebar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background: rgba(0, 0, 0, 0.3);
	z-index: 1;
	opacity: 0;
	visibility: hidden;
}

.sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
	background: #fff;
	z-index: 1;
}

.sidebar_icon {
	font-size: 2rem;
	position: absolute;
	top: 0;
	right: 0;
	padding: 8px;
	cursor: pointer;
}

.sidebar_icon:hover {
	background-color: #ccc;
	color: #000;
}

.sidebar .user_info {
	margin-top: 44px;
	font-size: 2rem;
	text-align: center;
}

.user_info img {
	width: 50px;
	height: 50px;
}

.user_info p:last-of-type {
	margin-bottom: 32px;
}

.user_info .btn_info {
	background: #5cee4d;
	color: #000;
	text-decoration: none;
	padding: 12px;
	border-radius: 10px;
	box-shadow: 0 0 10px #aaa;
}

.user_info .btn_info:hover {
	background: #000;
	color: #fff;
	transition: 0.1s ease-in-out;
}

.sidebar_menu {
	width: 80%;
	display: block;
	margin: 32px auto;
	font-size: 2rem;
}

.sidebar_menu li {
	position: relative;
	list-style: none;
	padding: 12px 0;
	cursor: pointer;
}

.sidebar_menu li i {
	position: absolute;
}

.sidebar_menu li a {
	margin-left: 20px;
}

/* animation hover  */
.sidebar_menu li {
	position: relative;
	display: inline-block;
	list-style: none;
}

.sidebar_menu li a {
	font-size: 2rem;
	color: #000;
	text-decoration: none;
	padding: 0 24px;
}

.sidebar_menu li a::after {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	bottom: 5px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #000;
	transition: width 0.75s ease-in;
}

.sidebar_menu li a:hover::after {
	width: 100%;
}

.log_out {
	font-size: 2rem;
	color: #000;
	text-decoration: none;
	background: #cccc;
	padding: 12px;
	display: block;
	text-align: center;
}

.log_out:hover {
	background-color: #5cee4d;
}

/* show sidebar */
.show_sidebar {
	visibility: visible;
	animation: showIn 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
}

@keyframes showIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* cover */
.cover {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
